.contact-preview {
  padding: 10px;
  border: 1px solid #f7931a;
  border-radius: 4px;
  max-width: 300px;
  cursor: pointer;

  p {
    margin-inline-start: 35px;
    font-weight: 600;
  }

  &:hover {
    background-color: rgba(247, 147, 26, 0.3);
  }
}
